#user_stati_app{
	&, .weui-cell__ft{
		color:#fff;
	}
	.num{
		font-size:30pt;
		font-family: Geometr706 BlkCn BT Black;
	}
	.weui-cell{
		padding: 25px 15px;
	}
	.weui-cells:first-child{
		margin-top:0;
	}
	.weui-cells{
		margin-top: .37647059em;
	}
	.ft{
		background-color:#61b0ff;
	}
	.fh{
		background-color:#51db62;
	}
	.at{
		background-color:#ffb260;
	}
	.ot{
		background-color:#ff393a;
	}
	dl{
		margin-left:15px;
	}
	dd{
		text-align: center;
	}
	dt,.weui-cell__ft{
		font-size: 16px;
	}
	img{
		max-width: 40px;
		max-height: 40px;
	}
}