.list_group {
    font-size: 14px;
    .weui-panel__hd{
	    display: flex;
	    color: #000;
		justify-content: space-between;
		// .green{
		// 	color:#5cb85c;
		// }
		// .blue{
		// 	color:#31b0d5;
		// }
		// .black{
		// 	color:#000;
		// }
  //       .red{
  //           color:#e64340;
  //       }
    }
    .list_header {
    	font-size:16px;
        padding:0;
    }
    .weui-label {
        padding-left: 0;
        color:#999;
    }
    .weui-cell{
    	padding-left:0;
    }
    .weui-cell:before {
        border: 0;
    }
    .i{
	    display: block;
	    padding: 2px 10px;
	    color: #fff;
	    border-radius: 6px;
	    width: 34px;
	    text-align: center;
	    overflow-y: hidden;
	    font-size:14px;
    }
    // .i.green{
	   //  background-color: #5cb85c;
    // }
    // .i.red{
	   //  background-color: #e64340;
    // }
    .weui-btn{
	    border-radius: 0;
    	border: 0;
    		font-size: 16px;
    	&:after{
	    	border-radius: 0;
    		border: 0;
    	}
    }
     .weui-btn_plain-default{
        border-top : 1px solid #eee;
    } 

    .weui-btn_warn{
    	border-top: 1px solid transparent;
    }
    /* .weui-btn_primary{
        &:not(.weui-btn_disabled):active{
            background-color: #31b0d5;
        }
        background-color:#5bc0de;
    } */
}
